{% extends 'bug_app/extends/base.html' %}
{% load static %}

{% block title %}Delete Report{% endblock %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'bug_app/styles/main.css' %}"
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

    {% include 'bug_app/includes/confirm_delete.html' %}

{% endblock %}