.login_title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 190px;
}

.login_form {
    display: flex;
    justify-content: center;
}

[type="text"] {
    margin-bottom: 10px;
    position: relative;
    left: 5px;
    padding: 0px 5px;
}

[type="password"] {
    margin-bottom: 10px;
    position: relative;
    left: 5px;
    padding: 0px 5px;
}

p {
    display: flex;
    justify-content: center;
}

li {
    margin-bottom: 10px;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    position: relative;
    left: 163px;
    padding: 5px;
    margin-top: 5px;
}